.edit-project-textarea textarea {
  width: 100%;
  height: 8rem;
  font-size: 1.2rem;
  font-weight: 100;
  border-radius: 10px;
  outline: none;
  border-color: rgba(139, 139, 139, 0.5);
  /* margin: 0.1rem 0.5rem; */
}

