

.App {
  text-align: center;
}

.App-header {
  background-color: #f3f3f3;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: 10px;
  color: black;
}



a {
  color: blue;
  cursor: pointer;
}

fieldset {
  border: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
