.taskItemComponent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  border: 2px solid #205493;
  border-radius: 10px;
  width: 50%;
  height: 3rem;
  background: linear-gradient(170deg,rgb(255, 255, 255), #deedff);
  font-size: 1.2rem;
  font-weight: 100;
}

.task-checkbox {
  width: 10%;
}

.task-created{
  width: 25%;
}

.task-title {
  width: 50%;
}

.task-button {
  width: 15%
}

.task-button button {
  border: none;
  color: white;
  background: #5c0000;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 100;
  transition: all 0.5s;
}

.task-button button:hover{
  background: #5c0000;
  border: 2px solid #ff0000;
  color: #ffffff;
  font-weight: 200;
}
