.taskItemComponent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  width: 50%;
  height: 2rem;
  background: linear-gradient(170deg,rgb(255, 255, 255), #789A9F);
  font-size: 1.2rem;
  font-weight: 100;
}

.taskItemComponent span {
  /* margin-right: 1rem; */
}

