.nav-style {
	display: flex;
	width: 100vw;
	justify-content: space-around;
	align-items: center;
	height: 3rem;
	/* position: fixed; */
	background: linear-gradient(170deg,rgb(255, 255, 255), #789A9F);
}

.nav-style a {
	text-decoration: none;
	/* color: #fff; */
	color: #054950;
	font-size: 1.2rem;
	font-weight: 100;
	transition: all 0.3s;
}

.nav-style a:hover {
	color: #fff;
	/* font-weight: 300; */
}

.nav-style img{
	height: 2.8rem;
	/* margin-left: 1rem; */
	padding: 0.2rem 1rem;
}


.navbar-block-left {
	display: flex;
	width: 50%;
	justify-content: flex-start;
	align-items: center;
	height: inherit;
}
.navbar-block-right {
	display: flex;
	width: 50%;
	justify-content: flex-end;
	align-items: center;
	height: inherit;
}

.navbar-element{
	padding: 1rem;
	margin: 0 1rem;
}